{% load crispy_forms_tags %}

<!Doctype html>

<html>
<head>
<title>Bandsync</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		{% include 'head_css.html' %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
       <!-- <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="css/skel.css" />
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-xlarge.css" />
        </noscript>  -->
                    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head> 
    
<body id = "top">
	{% include 'javascript.html' %}
    <!-- <header id="header" class="skel-layers-fixed"> -->
                <h1><a href="#">Bandsync</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#" class="button special">Sign Up</a></li>
                    </ul>
                </nav>
            </header>

<form id = "search" method= 'POST' action = ''>{% csrf_token %}
<!-- {{ form|crispy }} -->
	<input type= "text" name = "artist_select" id = "artist_select" value ="" />
	<input type= "text" name = "city" id = "city" value ="" />
	<input type= "text" name = "state" id = "state" value ="" />


<input type= 'submit' value= 'Submit'>

<br>
<h1>Concert Invite page </h1>
<br><br><br>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Invite a friend to a concert</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invitation</h4>
      </div>
      <div class="modal-body">
        
        <div id="container">  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
<script>
var concertData = {};
var eventInfo = {};
var ticketInfo = {};

function makeInvite() {
    var metaInfo = concertData[i];


    

    console.log(eventInfo['site']);

    for (var i = 0; i < concertData.length; i++) {
        var json_obj = concertData[i];
        var temp = {
            'venuename' : json_obj['venue']['name'],
            'city' : json_obj['venue']['city'],
            'state' : json_obj['venue']['region'],
            'country' : json_obj['venue']['country'],
            'ticket_url' : json_obj['ticket_url'],
            

            'artistname' : json_obj['artists'][0]['name'],
            'artistsite' : json_obj['artists'][0]['url'],   
        };
        console.log("Artist Name: " + temp["artistname"]);

    //     var temp = {
    //     'section': "Section: "+ii['l'],
    //     'price': "Price: $" + ii['p'],
    //     'row': "Row: " + ii['r'],
        
    // };  

        
    ticketInfo[i] = temp;
    console.log("The value of i is: " + i);
    console.log(ticketInfo[i]);
    console.log("Ticket info len inside loop" + ticketInfo.length);
    }
    console.log("Thicket info" + ticketInfo[0]);
    return ticketInfo;
}

function buildInvite( ) {

    var $inviteObj = $('<div id = "inviteObj" style="margin:100px"></div>');
    // var $divline = $("<div id = ticketObj></div>");

    //  $divline.append(
    //  'Invite a friend to see ' + eventInfo['band'] + '!<br><br><br> Location: New York, NY <br><br> Venue:' + eventInfo['venuename'] + '<br><br>Available Tickets:'
    //  );

    //  $inviteObj.append($divline);
    //var $div = $("<div></div>");
    
    console.log(eventInfo['band']);
    var $table = $("<table style=margin:10px></table>");
    console.log("Ticket info len Before for loop " + Object.keys(ticketInfo).length );
    for (var j = 0; j < Object.keys(ticketInfo).length; j++) {
        var $line = $("<tr></tr>");
        $line.append($("<td>venue: </td>").html(ticketInfo[j]["venuename"]));
        console.log("Line Append 1: " + ticketInfo[j]["venuename"]);
        $line.append($("<td>artist name: $</td>").html(ticketInfo[j]["artistname"]));
        console.log("Line Append 2: " + ticketInfo[j]["artistname"]);
        $line.append($("<td>city: </td>").html(ticketInfo[j]["city"]));
        console.log("Line Append 3: " + ticketInfo[j]["city"]);
        $table.append($line);
    }
    //$table.appendTo(document.body);
    //Add a div for the invites
    // var $divline2 = $("<div></div>");
    // $divline2.append(
    //  "Band Description: " + eventInfo["description"] + "<br><br>Band Site: " + eventInfo["site"] + "<br>");
    // $inviteObj.append($divline2);
    // $inviteObj.appendTo($("#container"));
    $table.appendTo($("#ticketObj"));
    //$descrLine.appendTo($("#inviteObj"));

}
function runMainProgram() {
//console.log(concertData['global']);
 makeInvite();
 buildInvite();
}
var frm = $('#search');
frm.submit(function(){
	var artist = $("#artist_select");
	var city = $("#city");
	var state = $("#state");


	$.ajax({
    dataType:'json',
    url: 'http://api.bandsintown.com/events/search?artists[]=' + artist + '&location='+city + ','+state+'&radius=150&format=json&app_id=YOUR_APP_ID',

    success: function(data){
        //console.log(data);
       concertData = data;
       runMainProgram();
        $(data.tickets).each(function(index, value){
                console.log(value.p);
        });
    }
    error: function(data){
    	//$("#MESSAGE-DIV").html("Something went wrong!");
    }

});
	return false;
});




// </script>

