{% extends "base.html" %}


{% block head_title %}Welcome |{%endblock %}
{%block jumbotron %}

    
<div class="jumbotron">
        <h1>Welcome To Bandsync</h1>
        <p>Sign up today to follow the concert tours of your favorite artists! </p>
        <!-- <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p> -->
      </div>

{% endblock %}
    



{% block content %}
<!-- 
<h1>{{ title}}</h1>

<form method= 'POST' action = ''>{% csrf_token %}
{{ form }}

<input type= 'submit' value= 'Sign Up'> -->



</input>
</form>

{% endblock %}