{% extends "base.html" %}


{% block head_title %}Welcome | {%endblock %}
{%block jumbotron %}

    
<div class="jumbotron">
        <h1>Welcome To Bandsync</h1>
        <p>Sign up today to follow the concert tours of your favorite artists! </p>
      </div>

{% endblock %}
    
{% block content %}

<h1>{{ title}} </h1>

</input>
</form>

{% endblock %}
{% if user.is_authenticated %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p> <a href="/accounts/logout.html">Logout?</a>!</p>
</div>
{% endif %}
