{% extends "base.html" %}


{% block head_title %}Welcome | {%endblock %}
{%block jumbotron %}

    


{% endblock %}
    



{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Welcome {{request.user}}!</h1>

</div>

<br><br>
<div style="margin:50px">
<h2>Artist List</h2>
<ul id = "concertlist" class="list-group">
  
  </ul> 
</div>

<div id = "myconcerts" style="margin:50px">
	<h2>Concert List</h2>
<ul id = "concertlist" class="list-group">
  
  </ul> 
</div>


{% if user.is_authenticated %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p><a href="/accounts/logout">Logout ? </a></p>
</div>
{% endif %}
{% endblock %}
