{% load crispy_forms_tags %}



<!-- {% load crispy_forms_tags %} -->

<!Doctype html>

<html>
<head>
<title>Bandsync</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        

        {% include 'head_css.html' %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
       <!-- <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="css/skel.css" />
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-xlarge.css" />
        </noscript>  -->
                    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head> 
    
<body id = "top">
     {% include 'navbar.html' %}
    {% include 'javascript.html' %}
    <!-- <header id="header" class="skel-layers-fixed"> -->
                
                
            

<form id = "search" method= 'POST' action = ''>{% csrf_token %}
{{ queryform|crispy }} 

<input type= 'submit' value= 'Submit'>
</form><br>
<div id = "container">
<!-- <ul id = "results" class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
  </ul> -->
</div>


 

<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
<script>
// console.log( "form_artistSelect\n" + {{form_artistSelect}} );
// console.log( "raw_dts\n" + {{raw_dts}} );
// console.log( "ticket_statuses\n" + {{ticket_statuses}} );
// console.log( "venue_names\n" + {{venue_names}} );
// console.log( "venue_cities\n" + {{venue_cities}} );
// console.log( "venue_region\n" + {{venue_region}} );







//console.log("length of artist list" + {{venue_names}}.length );
// var venues = {{venues|safe}};
// var dates = {{raw_dts|safe}};
// var ticket_statuses = {{ticket_statuses|safe}};
// var ticket_urls = {{ticket_urls|safe}};
// console.log("length of artist list" + venues.length);
// var $list = $("<ul  class='list-group'>");
// for(var i = 0; i < venues.length; i++){
    
//     $list.append("<li class='list-group-item'>Artist: {{form_artistSelect}}  Location: " + venues[i].city + ', ' + venues[i].region +' Venue: ' + venues[i].name + 
//        "Date: " + dates[i] + "tickets status: " + ticket_statuses[i] + "<br><a href = '" + ticket_urls[i] +"'" + "> ticket link</a>  "+
//        "{% if user.is_authenticated %}"+
//     "<button id ='invite'type='button' class='btn btn-info btn-lg' data-toggle='modal' data-target='#myModal' venue= " +venues[i] +" date = "+ dates[i] +
//     "ticket_url = "+ticket_urls[i]+" artist = {{form_artistSelect}} >Invite a friend</button>  <button id = 'save' type='button' class='btn btn-" + 
//     "primary-outline'> Save concert</button> "+
//         "{% endif %}"+
//             "</li>"); 

// }

// $list.appendTo($("#container"));

// var $resultObj = $('<div id = "inviteObj" style="margin:100px"></div>');
// $resultObj.append($divline);

</script>

<ul class= 'list-group'>
    {% for ticket in data %}
        <li  class = 'list-group-item' >
            Title: {{ticket.title}}
            Location: {{ticket.formatted_location}}
            Venue: {{ticket.venue.name}}
            Date: {{ticket.formatted_datetime}}
            tickets status: {{ticket.ticket_status}}<br>
            <a href = {{ticket.ticket_url}}> ticket url</a>
            {% if user.is_authenticated %}
                <button id = 'invite' type='button' class= 'btn btn-info btn-lg' data-toggle = 'modal' data-target='#myModal' artist = {{ticket.artists.name}} venue={{ticket.venue.name}} date = {{ticket.datetime}} formatted_date = {{ticket.formatted_datetime}} city= {{ticket.venue.city}} region = {{ticket.venue.region}} ticket_url={{ticket.ticket_url}} > Invite a friend </button>    
                <button id = 'save' type = 'button' class = 'btn btn-primary-outline'> Save Concert </button>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<script type="text/javascript">
$("#mform").submit(function(){
    var c = getCookie('csrftoken');
    //var data1 = $().attr("");
    var extraData = [];
    extraData['venue'] = $("#invite").attr("venue");
    extraData['artist'] = $("#invite").attr("artist");
    extraData['f_date'] = $("#invite").attr("formatted_date");
    extraData['uf_date'] = $("#invite").attr("date");
    extraData['ticket_url'] =  $("#invite").attr("ticket_url");
    extraData['city'] = $("#invite").attr("city");
    extraData['region'] = $("#invite").attr("region");
    extraData['artist'] = $("#invite").attr("artist");

    var PostData = {csrfmiddlewaretoken: c, additionalValues:extraData}
    $ajax({
        //context:this,
        type : 'POST',
        dataType: 'json',
        url: '/artistsearch/',
        data: JSON.stringify(PostData),
        success: function(response){}
    });
});


// </script>
<br>
<!-- <h1>Concert Invite page </h1> -->
<br><br><br>
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Invite a friend to a concert</button> -->
{% if user.is_authenticated %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p><a href="/accounts/logout">Logout? </a>!</p>
</div>
{% endif %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invitation</h4>
      </div>
      <div class="modal-body">
        
        <div id="container">  </div>
            <form id = "mform" method= 'POST' action = ''>{%csrf_token %}
            {{ modalform|crispy }} 
            <input type= 'submit' value= 'Submit'>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
</body>
</html>

