{% load crispy_forms_tags %}

<!Doctype html>

<html>
<head>
<title>Bandsync</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        

        {% include 'head_css.html' %}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
                    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head> 
    
<body id = "top">
     {% include 'navbar.html' %}
    {% include 'javascript.html' %}
                
                
            

<form id = "search" method= 'POST' action = ''>{% csrf_token %}
{{ queryform|crispy }} 

<input type= 'submit' value= 'Submit'>
</form><br>
<div id = "container">
</div>
<script>

</script>

<ul class= 'list-group'>
    {% for ticket in data %}
        <li  class = 'list-group-item' >
            Title: {{ticket.title}}
            Location: {{ticket.formatted_location}}
            Venue: {{ticket.venue.name}}
            Date: {{ticket.formatted_datetime}}
            tickets status: {{ticket.ticket_status}}<br>
            <a href = {{ticket.ticket_url}}> ticket url</a>
            {% if user.is_authenticated %}
                <button id = 'invite' type='button' class= 'btn btn-info btn-lg' data-toggle = 'modal' data-target='#myModal' data-artist = {{ticket.artists.name}} data-venue={{ticket.venue.name}} data-date = {{ticket.datetime}} data-formatted_date = {{ticket.formatted_datetime}} data-city= {{ticket.venue.city}} data-region = {{ticket.venue.region}} data-ticket_url={{ticket.ticket_url}} > Invite a friend </button>    
                <button id = 'save' type = 'button' class = 'btn btn-primary-outline'> Save Concert </button>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<script type="text/javascript">
$("#mform").submit(function(){
    var c = getCookie('csrftoken');
    var extraData = [];
    extraData['venue'] = $("#invite").data("venue");
    alert(extraData['venue']);
    extraData['artist'] = $("#invite").data("artist");
    alert(extraData['artist']);
    extraData['f_date'] = $("#invite").data("formatted_date");
    alert(extraData['f_date']);
    extraData['uf_date'] = $("#invite").data("date");
    extraData['ticket_url'] =  $("#invite").data("ticket_url");
    extraData['city'] = $("#invite").data("city");
    extraData['region'] = $("#invite").data("region");
    extraData['artist'] = $("#invite").data("artist");

    var PostData = {csrfmiddlewaretoken: c, additionalValues:extraData}
    $ajax({
        type : 'POST',
        dataType: 'json',
        url: '/artistsearch/',
        data: JSON.stringify(PostData),
        success: function(response){}
    });
});


</script>
<br>
<!-- <h1>Concert Invite page </h1> -->
<br><br><br>

{% if user.is_authenticated %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p><a href="/accounts/logout">Logout? </a>!</p>
</div>
{% endif %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invitation</h4>
      </div>
      <div class="modal-body">
        
        <div id="container">  </div>
            <form id = "mform" method= 'POST' action = ''>{%csrf_token %}
            {{ modalform|crispy }} 
            <input type= 'submit' value= 'Submit'>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>

